@{
  Layout = "_Layout";
}
<form action="/places" method="post"> 
  <label for="cityName">Add a place you have been</label>
  <input id="cityName" name="cityName" type="text">
  <label for="picture">Add a picture</label>
  <input id="picture" name="picture" type="text"> 
  <button type="submit">Submit</button>
</form>